* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Content */
  --content-primary: #FFFFFF;
  --content-secondary: #98959D;
  --content-tertiary: #666666;
  --content-brand: #9282FA;
  --content-title: #F5F4F5;

  --gray-300: #98959D;

  /* Background */
  --background: #14151d;
  --background-primary: #151515;
  --background-secondary: #1E1E1E;
  --background-tertiary: #23242C;
  --background-brand: #9282FA;
  --background-highlights: #BDB4FA;
  /* Border */
  --border-primary: #3E3C41;
  --border-secondary: #86818C;
  --border-brand: #9282FA;
  --border-divisor: #353339;
  /* Accent */
  --accent-blue: #027DF0;
  --accent-blue-light: #16487A;
  --accent-yellow: #F0DC02;
  --accent-yellow-light: #756E1B;
  --accent-orange: #F09102;
  --accent-orange-light: #75501B;

  /* Font */
  --ff-inter-tight: "Inter Tight", sans-serif;
  --title: 700 1.5rem/2rem var(--ff-inter-tight);

  --ff-inter: "Inter", sans-serif;
  --paragraph-medium: 500 0.875rem/1.5rem var(--ff-inter);
  --paragraph-small: 500 0.75rem/1rem var(--ff-inter);
  --label-large: 700 1rem/1.5rem var(--ff-inter);
  --label-medium: 700 0.875rem/1.5rem var(--ff-inter);
  --label-small: 700 0.75rem/1rem var(--ff-inter);
  --link: 500 0.75rem/1rem var(--ff-inter);
  --input: 500 1rem/1.5 var(--ff-inter);
}

.display-none {
  display: none;
}

body {
  background-color: var(--background);
  color: var(--content-primary);
}
main {
  padding: 1.25rem 1.25rem;
}
section.date {
  & div {
    & h1 {
      font: var(--title);
      margin-bottom: .25rem;
      color: var(--content-title);
    }

    & p {
      font: var(--paragraph-medium);
      color: var(--gray-300);
      margin-bottom: .75rem;
    }
  }

  & input {
    font: var(--input);
    color: var(--content-secondary);
    background: transparent;
    padding: 0.75rem 1rem 0.75rem 2.5rem;
    border: 1px solid var(--border-primary);
    border-radius: 8px;
    position: relative;

    &::before {
      content: '';
      width: 18px;
      height: 18px;
      position: absolute;
      left: 1rem;
      top: 1rem;
      background: url("../assets/icons/calendar.svg");
    }
  }

  & ::-webkit-calendar-picker-indicator {
    cursor: pointer;
    background: url("../assets/icons/arrow-down.svg") no-repeat;
    background-position: right center; 
  }
}
@media (width > 750px) {
  main {
    padding: 0.875rem 0 0;
  }
}