* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Content */
  --content-primary: #FFFFFF;
  --content-secondary: #98959D;
  --content-tertiary: #666666;
  --content-brand: #9282FA;
  --content-title: #F5F4F5;

  --gray-300: #98959D;

  /* Background */
  --background: #14151d;
  --background-primary: #151515;
  --background-secondary: #1E1E1E;
  --background-tertiary: #23242C;
  --background-brand: #9282FA;
  --background-highlights: #BDB4FA;
  /* Border */
  --border-primary: #3E3C41;
  --border-secondary: #86818C;
  --border-brand: #9282FA;
  --border-divisor: #353339;
  /* Accent */
  --accent-blue: #027DF0;
  --accent-blue-light: #16487A;
  --accent-yellow: #F0DC02;
  --accent-yellow-light: #756E1B;
  --accent-orange: #F09102;
  --accent-orange-light: #75501B;

  /* Font */
  --ff-inter-tight: "Inter Tight", sans-serif;
  --title: 700 1.5rem/2rem var(--ff-inter-tight);

  --ff-inter: "Inter", sans-serif;
  --paragraph-medium: 500 0.875rem/1.5rem var(--ff-inter);
  --paragraph-small: 500 0.75rem/1rem var(--ff-inter);
  --label-large: 700 1rem/1.5rem var(--ff-inter);
  --label-medium: 700 0.875rem/1.5rem var(--ff-inter);
  --label-small: 700 0.75rem/1rem var(--ff-inter);
  --link: 500 0.75rem/1rem var(--ff-inter);
  --input: 500 1rem/1.5 var(--ff-inter);
}

.display-none {
  display: none;
}

body {
  background-color: var(--background);
  color: var(--content-primary);
}
main {
  padding: 1.25rem 1.25rem;
}
section.date {
  margin-bottom: 2rem;

  & div {
    & h1 {
      font: var(--title);
      margin-bottom: .25rem;
      color: var(--content-title);
    }

    & p {
      font: var(--paragraph-medium);
      color: var(--gray-300);
      margin-bottom: .75rem;
    }
  }

  & input {
    font: var(--input);
    color: var(--content-secondary);
    background: transparent;
    padding: 0.75rem 1rem 0.75rem 2.5rem;
    border: 1px solid var(--border-primary);
    border-radius: 8px;
    position: relative;
    height: 3rem;

    &::before {
      content: '';
      width: 18px;
      height: 18px;
      position: absolute;
      left: 1rem;
      top: 1rem;
      background: url("../assets/icons/calendar.svg");
    }
  }

  & ::-webkit-calendar-picker-indicator {
    cursor: pointer;
    background: url("../assets/icons/arrow-down.svg") no-repeat;
    background-position: right center; 
  }
}
@media (width > 750px) {
  main {
    padding: 0.875rem 0 0;
    width: 711px;
    margin: 0 auto;
  }

  section.date {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

section.list {
  background-color: #23243c;
  margin-bottom: .75rem;
  border-radius: 10px;

  & header {
    border-bottom: 2px solid #2e2c30;
    display: flex;
    justify-content: space-between;
    padding: .75rem 1.25rem;

    & .period {
      display: flex;

      & h2 {
        font: var(--label-large);
        color: var(--content-primary);
      }
    }

    & .hour {
      & p {
        font: var(--label-large);
        color: var(--content-secondary);
      }
    }
  }

  & ul {
    list-style: none;
    padding: 1.25rem;

    & li {
      & div {
        & strong {
          font: var(--label-medium);
          color: var(--content-primary);
        }
        & strong + strong {
          margin-left: 0.75rem;
        }
        & span {
          font: var(--paragraph-medium);
          color: var(--content-secondary);
        }
      }

      & div:nth-child(1){
        padding-top: .75rem;
        padding-left: .75rem;
        padding-right: .75rem;
      }
      & div:nth-child(2){
        padding-left: .75rem;
        padding-right: .75rem;
        padding-bottom: .5rem;
      }
      & div:nth-child(3){
        padding-left: .75rem;
        padding-right: .75rem;
        padding-bottom: .75rem;
        display: flex;
        justify-content: end;

        & button {
          background-color: transparent;
          border: none;
          font: var(--paragraph-small);
          color: var(--content-tertiary);
          cursor: pointer;
        }
      }
    }

    & li + li {
      border-top: 2px solid #2e2c30;
    }
  }
}

@media (width > 750px) {
  section.list {
    & ul {
      & li {
        display: grid;
        grid-template-columns: 1.5fr 1.5fr 1fr;
        align-items: center;
        justify-content: center;
        padding: 1rem 0.75rem;
        
        & div {
          display: flex;
          align-items: center;
          padding: 0!important;
        }
      }
    }
  }
}

.new {
  height: 3rem;
  width: 13.625rem;
  margin: 3.875rem auto 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font: var(--label-large);
  color: #050505;
  background-color: var(--content-brand);
  border-radius: 8px;
  cursor: pointer;
}